// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black-highlight: #222;
  
#col1{//border:solid red 1px;
  min-height:100px;
  margin-bottom:20px;
  img{margin:auto;
    display:block;
  }}

#col1a{//border:solid red 1px;
  min-height:100px;
  margin-bottom:20px;
  img{margin:auto;
    display:block;
  }}    

#col3{border:none green 1px;
  div{width:250px;
    min-height:300px;
    }
  }
#col3a{margin-left:0px;
  float:left;
  //background:red;
  }
#col3b{margin-left:105px;
  width:250px;
  float:left;
  //background:green;
  div{
    p:first-child{
      margin-top:0px;
      }
    }
  }    
#col3c{margin-left:0px;
  float:right;
  line-height: 22px;
  //background:blue;
  }


#col2{//border:solid blue 1px;
  nargin:1em 0em;
    div{min-height:100px;}}
#col2a{//background:blue;
  margin:1em 0px;
  float:left;
  width:450px;
  }
#col2b{//background:green;
  margin:1em 0px;
  float:right;
  width:450px;
  }

#grid_wrapper{}
  
#flickr-div{
  a{
    margin:0px 2px 5px 0px;
    text-decoration:none;
    background:none;
    float:left;
    }
  a.col2{
    margin:0px 0px 5px 0px;
    }
  }
    
#flickr-div a:hover{
  border-bottom-width: 0;  
  }  

    
#footer_area{clear:both;
  min-height:5px;
  width:100%;
  padding-top:20px;
  padding-bottom:60px;	
  background:black;
  color:white;
  position:relative;
  float:left;
  div{width:145px;
    display:inline-block;
    h3{font-size:16px;
      color:white;
      font-weight:bold;
      padding-bottom:10px;
      }
    }
  div.col1{//background:#333;
    width:260px;
    float:left;

    p{line-height:25px;
      font-size:12px;
      color: darken(white,10%);
      }
    margin-left:50px;
    }
  div.col2{width:150px;
    margin-left:60px;
    span{line-height:72px;
      font-size:16px;}
    img{float:right}
    }
  div.col3{//background:#777;
    img{display:none;}
    width:405px;;
    float:right;
    padding-left:40px;
    ul{padding-left:00px;
      margin-right:50px;
        }
    li{padding-left:0em;
      list-style-type:none;
        div{
        strong{font-size:14px;
          color:darken(white,10%);
   
          }}
        p{font-size:12px;
          color:darken(white,20%);
          margin-top:-1px;
          margin-bottom:20px;
          }
        }  
    }
    div.time{}
}

a.footer_social{text-decoration:none;
  span{color:white;
    }
  }
a.footer_social:hover{color:green;
  background:$black_highlight;
    }  
a.teaser{text-decoration:none;
	fornt-size:12px;
	color:white;
	}
a.teaser:hover{
	p{background: $black-highlight;}
	}
a.teaser:visited{color:white;}

// slideshow

#image_container{height:470px;	
	overflow:hidden;
	.slide{display:none;
          margin:0px;
          padding:0px;
          p{margin:0.25em auto 0px;
            width:950px;
            text-align:center;
	    margin-bottom: 0.5em;
            clear:both;
          }
        }
	.slide:first-child{display:block;		
        }
      }